.header-content {
  display: flex;
  justify-content: space-between;
  align-content: center;

  .phx-logo {
    min-width: 60px;
    margin: 1rem;
    display: block;
  }
  
  .phx-logo img {
    width: 60px;
    display: block;
  }
}

// Default css
header {
  width: 100%;
  background: #fdfdfd;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 2rem;
}

header nav ul,
header nav li {
  margin: 0;
  padding: 0;
  display: block;
  text-align: right;
  white-space: nowrap;
}
header nav ul {
  margin: 1rem;
  margin-top: 0;
}
header nav a {
  display: block;
}

@media (min-width: 40.0rem) { /* Small devices (landscape phones, 576px and up) */
  header section {
    flex-direction: row;
  }
  header nav ul {
    margin: 1rem;
  }
  .phx-logo {
    flex-basis: 300px;
    margin: 2rem 1rem;
  }
}
