.header-nav {
  list-style: none;

  li {
    display: inline;
    float: left;
    border: solid 1px #ccc;
    margin-right: 10px;
    border-radius: 5px;
  }

  a {
    display: block;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 20px;

    &:hover {
      background-color: beige;
    }
  }
}